<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Location Info Page</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'campfriends/css/main.css' %}">
	</head>
	<body>
		<h2>Hello {{request.session.first_name}}!</h2>
		<a href="/campfriends/logout">logout</a>
		<form action="/process_info" method='post' name='add_info_form'>
			{% csrf_token %}
			<div class="form-group">
		    	<label for="loc_name">Location Name:</label>
		    	<input type="text" class="form-control" id="loc_name" name="loc_name" value='{{loc_name}}'>
	  		</div>
	  		<div class="form-group">
		    	<label for="loc_latitude">Location Latitude: (needs to pull from map?)</label>
		    	<input type="text" class="form-control" id="loc_latitude" name="loc_latitude" value='{{loc_latitude}}'>
	  		</div>
	  		<div class="form-group">
		    	<label for="loc_longitude">Location Longitude: (needs to pull from map?)</label>
		    	<input type="text" class="form-control" id="loc_longitude" name="loc_longitude" value='{{loc_longitude}}'>
	  		</div>
	  		<div class="form-group">
		    	<label for="desc">Description:</label>
		    	<textarea class="form-control" rows="5" id="desc" name="desc" value='{{desc}}' placeholder="Amenities, terrain, accessibility, etc."></textarea>
	  		</div>
	  		<input type="submit" name="add_info_button" value="Add">
  		</form>
		  	{% if messages %}
				<ul class="messages">
			    	{% for message in messages %}
			    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}	

	</body>
</html>