<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Location Info Page</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'campfriends/css/main.css' %}">
	</head>
	<body>
		<h2>Hello USER VAR!</h2>
		<a href="">logout</a>
		<h1>Lcoation Name: loc_name VAR </h1>
		<h3>Location Address: <a href="">loc_address VAR</a></h3>
		<p>Description: desc VAR</p>

		<input type="submit" name="map_button" value="To Map">

	</body>
</html>