<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
        <!-- Put the static files in the static folder inside your app.
            Django collects files within all static folders and puts them within a single folder -->
    </head>
    <body>
        <article>
            <h1>Welcome!</h1>
            <p>Are you ready to camp? Click below to experience the natural beauty the Evergreen state has to offer!</p>
            <a href="/login">Click here to enter</a>
        </article>
    </body>
</html>